<div *ngIf="product" class="modal" id="modalProduct">

    <div class="modal-content">

        <div class="modal-header">
            <div class="close" (click)="closeModal()">&times;</div>
        </div>
        <div class="modal-body">
            <div class="product-image"><img alt="{{product.name}}" [src]="product.image" /></div>
            <div class="product-detail">
                <div class="product-name">{{ product.name }}</div>
                <div class="product-uom">{{ product.uom }}</div>
                <div class="product-price">{{ product.price | currency }}</div>
                <div class="product-description">{{ product.description }}</div>
            </div>
        </div>
    </div>

</div>
