<div class="shopping-container">
    <div class="shopping-category">
        <ul>
            <li>On Sales</li>
            <li>New</li>
            <li>Shop by Store</li>
            <li>Fruit & Veg</li>
        </ul>
    </div>
    <div class="shopping-product-list">
        <div class="product-item" *ngFor="let product of products" (click)="seeDetail(product.id)">
            <img class="product-image" alt="product" [src]="product.image" />

            <div class="product-name">
                {{ product.name }}
            </div>

            <div class="product-uom">
                {{ product.uom }}
            </div>

        </div>
    </div>
</div>
<!-- <app-product-detail-page *ngIf="selectedId != null" [id]="selectedId"></app-product-detail-page> -->

<!-- <div class="overlay" *ngIf="selectedId != null">
    <div class="popup">
        <app-product-detail-page [id]="selectedId"></app-product-detail-page>
        <a class="close" (click)="popup = false">&times;</a>
        <div class="content">
            you have selected this event
        </div>
    </div>
</div> -->
