.shopping-container {
    display: flex;
}

.shopping-category {
    background-color: #ecf0f1;
    padding: 10px;
}

.shopping-category li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #666666;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.shopping-category li:hover {
    color: #888888;
}

.shopping-product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #666666;
    max-width: 150px;
}

.product-image {
    max-width: 100%;
}

.product-name {
    width: 100%;
    font-weight: bold;
}
