<app-top-bar></app-top-bar>
<app-landing-page></app-landing-page>
<app-promotional-page></app-promotional-page>
<app-shopping-page></app-shopping-page>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
