.promotion-container {
    min-height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.promotion-tagline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.promotion-tagline-text {
    width: 50%;
    min-width: 400px;
}

.promotion-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.promotion-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.promotion-image {
    width: 50%;
    min-width: 400px;
}

.promotion-tagline img {
    width: 100%;
}

.promotion-pros {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.promotion-pros-item {
    text-align: center;
}

.promotion-pros-icon {
    width: 100%;
    max-width: 100px;
}

.promotion-pros-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}
