<div class="promotion-container">
    <div class="promotion-tagline">
        <div class="promotion-tagline-text">
            <div class="promotion-title">FRESH FOOD FOR A FRESHER YOU</div>
            <div class="promotion-subtitle">Quality food, quality life</div>
        </div>
        <div class="promotion-image">
            <img alt="Promotion Image" src="assets/images/promotional-page/side-image.png" />
        </div>
    </div>
    <div class="promotion-pros">
        <div class="promotion-pros-item">
            <img class="promotion-pros-icon" alt="Clock" src="assets/images/promotional-page/clock.png" />
            <div class="promotion-pros-text">Online Anywhere</div>
        </div>
        <div class="promotion-pros-item">
            <img class="promotion-pros-icon" alt="Delivery" src="assets/images/promotional-page/delivery-truck.png" />
            <div class="promotion-pros-text">Fast Delivery</div>
        </div>
        <div class="promotion-pros-item">
            <img class="promotion-pros-icon" alt="Support" src="assets/images/promotional-page/support.png" />
            <div class="promotion-pros-text">24/7 Support</div>
        </div>
    </div>
</div>
