.banner-img {
    height: calc(100vh - 50px);
    background-image: url('/assets/images/landing-page/banner_photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
