<div class="top-bar-container">
    <div class="top-bar-logo">
        <img alt="FarmFresh Logo" src="assets/images/top-bar/farmfresh_logo.png" />
    </div>
    <div class="top-bar-search">
        <input class="search-box" id="txt-search" name="search" type="text"
            placeholder="Search for a product or a brand" />
        <div class="search-button">
            <fa-icon [icon]="faSearch"></fa-icon>
        </div>
    </div>
    <div class="top-bar-right-menu">
        <a class="cart-button">
            <img alt="Shopping Cart" src="assets/images/top-bar/shopping_cart.png" />
        </a>
    </div>
</div>
