.top-bar-container {
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.top-bar-container img, .top-bar-logo, .top-bar-right-menu {
    height: 100%;
}

.top-bar-logo {
    margin-left: 50px;
    margin-right: 50px;
}

.top-bar-search {
    display: flex;
    align-items: center;
    border: 1px solid #526464;
    height: 30px;
}

.top-bar-search .search-box {
    font-size: 18px;
    color: #526464;
    width: 300px;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

.top-bar-search .search-box:focus {
    border: 1px solid #2E75B4;
    box-sizing: border-box;
    outline-style: none;
}

.top-bar-search .search-button {
    width: 30px;
    height: 100%;
    background-color: #2E75B4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-right-menu {
    flex-grow: 1;
    margin-right: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.top-bar-right-menu .cart-button {
    height: 30px;
    width: auto;
}

.top-bar-search .search-button, .top-bar-right-menu .cart-button:hover {
    cursor: pointer;
}
